// Custom styles.
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(202, 203, 204, .5);
  -moz-box-shadow: 0 0 10px rgba(202, 203, 204, .5);
}
.archive .post {
  margin: 30px 0 30px 15px;
}
.posts-expand .post-eof {
  margin: 0;
  background-color: rgba(255, 255, 255, 0);
}
